* {
  margin: 0;
  padding: 0;
  font-family: consolas; }

body {
  height: 100vh;
  background-color: #1d947e;
  color: white;
  display: grid;
  place-items: center; }

.game {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 55vh;
  width: 57vw;
  border: 1rem solid black;
  background-color: #086a6d; }
  .game .score {
    display: grid;
    text-align: center;
    font-size: 1.75rem;
    border: 6px solid black; }
    .game .score .scoreTop {
      height: 40%;
      width: 100%;
      border-bottom: 6px solid black;
      margin: 1rem 0; }
  .game .choices {
    display: grid;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 4rem 0rem;
    border: 6px solid black;
    border-width: 6px 0; }
    .game .choices button {
      padding: 1rem 2rem;
      border-radius: 15px;
      background-color: #10b7c6;
      color: white;
      outline: none;
      border: 3.5px solid white;
      font-size: 1.5rem; }
      .game .choices button:hover {
        cursor: pointer; }
