* {
  margin: 0;
  padding: 0;
  font-family: consolas;
}

body {
  height: 100vh;
  background-color: #24b99e;
  color: whitesmoke;
}

button {
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: #10b7c6;
  color: white;
  outline: none;
  border: 2.5px solid white;
  font-size: 1.5rem;
}

.start-screen {
  display: none;
}

.choices {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: 10px solid black;
  display: grid;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 4rem 4rem;
  background-color: #919191;
  margin-top: 1.5rem;
}

#score {
  display: flex;
  font-size: 2rem;
  text-align: center;
  border: 1rem solid #840000;
  justify-content: space-around;
  padding: 0rem 15rem;
}

#score1 {
  display: grid;
  border: 3px solid black;
}

#score2 {
  display: grid;
  border: 3px solid black;
}
